@page "/students"
@inject HttpClient Http

<PageTitle>My Students</PageTitle>

<h1>My Students</h1>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="@students" Pagination="@pagination">
        <PropertyColumn Property="@(s => s.StudentId)" Sortable="true" />
        <PropertyColumn Property="@(s => s.FirstName)" Sortable="true" />
        <PropertyColumn Property="@(s => s.LastName)" Sortable="true" />
        <PropertyColumn Property="@(s => s.School)" Sortable="true" />
    </QuickGrid>
}

@code {
    private IQueryable<Student>? students;
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        string URL = $"{Constants.SchoolAPIBase}students";
        students = await Http.GetFromJsonAsync<IQueryable<Student>>(URL);
    }
}
